body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#main-content {
    height: 1500px;
}

#main-content h1 {
    margin-bottom: 20px;
}

/*.navbar-brand {
    padding-top: 25px;
}*/
.navbar-brand h1 {
    color: #001099;
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}